[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[images]
  remote_images = [
    "https://placehold.co/.*",
    "https://drive.google.com/.*",
    "https://.*.googleusercontent.com/.*",
    "https://imgur.com/.*",
    "https://vtvm1.cc.vt.edu/.*"
  ]
